* text=auto
*.sh text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.png binary
*.ico binary
